*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
}

.section {
    padding: 10rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear: both;
}

.row:not(:last-child) {
    margin-bottom: 8rem;
} 

[class^="col-"] {
    float: left;
}

[class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}

.col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
    width: calc((100% - 12rem) / 3);
}

.col-2-of-3 {
    width: calc(2 * ((100% - 12rem) / 3) + 6rem);
}

.col-1-of-4 {
    width: calc((100% - 18rem) / 4);
}

.col-2-of-4 {
    width: calc(2 * ((100% - 18rem) / 4) + 6rem);
}

.col-3-of-4 {
    width: calc(3 * ((100% - 18rem) / 4) + 12rem);
}

 

/* -------------------- */
/* ---- PRE-LOADER ---- */
/* -------------------- */

.preloader-container {
    display: table;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #17c0eb;
    z-index: 999999;
}

.preloader {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.preloader p {
    background-color: #40d2f7;
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-size: 15rem;
    text-transform: uppercase;
    text-shadow: 5px 5px #333;  
}

/* -------------------- */
/* ------ NAVBAR ------ */
/* -------------------- */

.navbar {
    width: 100%;
    padding: 3rem 0;
    display: none;
}

.navbar .container {
    position: relative;
}

.navbar__logo {
    display: inline-block;
}

.navbar__logo p {
    font-size: 3rem;
}

.navbar__list {
    float: right;
    list-style: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.navbar__list-item {
    display: inline-block;
    font-size: 2.5rem;
}

.navbar__list-item:not(:last-child) {
    margin-right: 3rem;
}

.social-link:link,
.social-link:visited {
    text-decoration: none;
    color: #ddd;
    transition: all 0.5s;
}

.social-link--facebook:hover,
.social-link--facebook:active {
    color: #3b5999;
}

.social-link--linkedin:hover,
.social-link--linkedin:active {
    color: #0077B5;
}

.social-link--instagram:hover,
.social-link--instagram:active {
    color: #e4405f;
}

.social-link--twitter:hover,
.social-link--twitter:active {
    color: #55acee;
}

.social-link--github:hover,
.social-link--github:active {
    color: #000;
}

/* -------------------- */
/* ------ HEADER ------ */
/* -------------------- */

.header {
    padding: 6rem 0;
    position: relative;
}

.main-heading {
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 1px;
    word-spacing: 3px;
    background-color: #2ecc71;
    display: none;
    padding: 0 2rem;
    margin-bottom: 6rem;
    color: #fff;
}

.main-heading .name {
    font-weight: 700;
    text-transform: uppercase;
}

.description {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    display: none;
    background-color: #3498db;
    color: #fff;
    padding: 0.5rem 0;

    /* Used for line break and background coloring just around text. */
    
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    
    box-shadow: 0.5rem 0 0 #3498db, -0.5rem 0 0 #3498db; 
}

/* -------------------- */
/* ------- CARD ------- */
/* -------------------- */

.card {
    height: 45rem;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(78, 78, 78, 0.247);
    position: relative;
    overflow: hidden;
    display: none;
}

.card .card__overlay {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 70%);
    transition: all .5s;
    
    
}

.card .card__title p {
    color: #fff;
    padding: 1.5rem 3rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    /* position: absolute;
    top: 20%; */
    
}

.card--1 {
    background-image: url('../img/nat-1-large.jpg');
    background-size: cover;
}

.overlay--1 {
    background-image: linear-gradient(to right bottom, #ffd54f, #ff6f00);
}

.card--2 {
    background-image: url('../img/nat-2-large.jpg');
    background-size: cover;
}

.overlay--2 {
    background-image: linear-gradient(to right bottom, #32ff7e, #27ae60);
}

.card--3 {
    background-image: url('../img/nat-3-large.jpg');
    background-size: cover;
}

.overlay--3 {
    background-image: linear-gradient(to right bottom, #81d4fa, #0277bd);
}

.card:hover .card__overlay {
    clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);
}