*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #333;
}

.section {
    padding: 5rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear: both;
}

.row:not(:last-child) {
    margin-bottom: 8rem;
} 

[class^="col-"] {
    float: left;
}

[class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}

.col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
    width: calc((100% - 12rem) / 3);
}

.col-2-of-3 {
    width: calc(2 * ((100% - 12rem) / 3) + 6rem);
}

.col-1-of-4 {
    width: calc((100% - 18rem) / 4);
}

.col-2-of-4 {
    width: calc(2 * ((100% - 18rem) / 4) + 6rem);
}

.col-3-of-4 {
    width: calc(3 * ((100% - 18rem) / 4) + 12rem);
}


.line-break {
    background-color: #111;
    height: 1px;
    width: 90%;
    margin: 0 auto;
}
 
h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 3px;
    color: #333;
    margin-bottom: 2rem;
}

/* -------------------- */
/* ---- PRE-LOADER ---- */
/* -------------------- */

.preloader-container {
    display: table;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #17c0eb;
    z-index: 999999;
}

.preloader {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.preloader p {
    background-color: #40d2f7;
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-size: 15rem;
    text-transform: uppercase;
    text-shadow: 5px 5px #333;  
}

/* -------------------- */
/* ------ NAVBAR ------ */
/* -------------------- */

.navbar {
    width: 100%;
    padding: 5rem 0;
}

.navbar .container {
    position: relative;
}

.logo {
    width: 20%;
}



/* -------------------- */
/* ------ HEADER ------ */
/* -------------------- */

.main-body {
    display: none;
}

.header {
    padding: 6rem 0;
    position: relative;
}

.main-heading {
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 1px;
    word-spacing: 3px;
    background-color: #2ecc71;
    padding: 0 2rem;
    margin-bottom: 6rem;
    color: #fff;
    display: none;
    box-shadow: 0.5rem 0 0 #2ecc71, -0.5rem 0 0 #2ecc71;
}

.main-heading .name {
    font-weight: 700;
    text-transform: uppercase;
}

.description {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    display: none;
    background-color: #3498db;
    color: #fff;
    padding: 0.5rem 0;

    /* Used for line break and background coloring just around text. */
    
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    
    box-shadow: 0.5rem 0 0 #3498db, -0.5rem 0 0 #3498db; 
}

.description span {
    font-weight: 700;
}

/* -------------------- */
/* ------ FOOTER ------ */
/* -------------------- */

footer {
    margin-top: 10rem;
}

.footer {
    padding-top: 5rem;
}

.footer__list {
    float: right;
    list-style: none;
}

.footer__list-item {
    display: inline-block;
    font-size: 2.5rem;
}

.footer__list-item:not(:last-child) {
    margin-right: 3rem;
}

.copyright {
    font-size: 2rem;
    color: #969696;
    padding: 0.425rem;
}

.copyright i {
    color: #ff4d4d;
}

.social-link:link,
.social-link:visited {
    text-decoration: none;
    color: #ddd;
    transition: all 0.5s;
}

.social-link--facebook:hover,
.social-link--facebook:active {
    color: #3b5999;
}

.social-link--linkedin:hover,
.social-link--linkedin:active {
    color: #0077B5;
}

.social-link--instagram:hover,
.social-link--instagram:active {
    color: #e4405f;
}

.social-link--twitter:hover,
.social-link--twitter:active {
    color: #55acee;
}

.social-link--github:hover,
.social-link--github:active {
    color: #000;
}

/* -------------------- */
/* ------ NAVMOB ------ */
/* -------------------- */

.navigation__checkbox {
    display: none;
}

.navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -40%;
    z-index: 1500;
	
    opacity: 0;
    width: 0;

    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__button {
    background-color: #ff6b6b;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 3.3rem;
    right: 15rem;   
    border-radius: 50%;   
    z-index: 2000;
    text-align: center;
    cursor: pointer;

    box-shadow: 0 1rem 3rem rgba(51, 51, 51, 0.15);
}

.navigation__background {
    background-color: #ff6b6b;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 3.8rem;
    right: 15.5rem;
    z-index: 1000;

    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation__list-item {
    margin: 1rem;
}

.navigation__list-link:link, 
.navigation__list-link:visited {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;

    transition: all 0.4s;

}

.navigation__list-link:hover, 
.navigation__list-link:active {
    background-position: 100%;
    color: #333;
    transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
    transform: scale(100);
}

.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
}

.navigation__icon {
    position: relative;
    margin-top: 3rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;

    transition: all .2s;
}

.navigation__icon::before {
    top: -0.8rem;
}

.navigation__icon::after {
    top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
    top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

/* -------------------- */
/* ---- RESPONSIVE ---- */
/* -------------------- */

@media only screen and (max-width: 480px) {

    html { font-size: 40%; }

    .logo { width: 55%; }

    .navigation__background { 
        top: 3.5rem;
        right: 5rem; 
    }

    .navigation__button {
        top: 3.3rem;
        right: 4.5rem; 
    }

    .col-1-of-2, .col-1-of-3, .col-2-of-3, .col-1-of-4, .col-2-of-4, .col-3-of-4 { 
        width: 100%;
    }

    [class^="col-"]:not(:last-child) { margin-bottom: 5rem; }

    .copyright { text-align: center; }
    .footer__list { 
        text-align: center;
        float: none; 
    }

    .footer__list-item { font-size: 4rem; }

    h2 { font-size: 3rem; }

    .description__more p { font-size: 2.5rem; }

    .navigation__list-link:link, 
    .navigation__list-link:visited {
        font-size: 3rem;
    }

}
